{% extends "dsp-template.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block content %}

  <form action="/test-slots" method="POST">
    <h1 class="govuk-heading-l">Test slots: {{ test_type | displayTestType }}</h1>

    {% if slots.length > 0 %}
      {{ govukRadios({
        idPrefix: "test-slot",
        name: "slot",
        fieldset: {
          legend: {
            text: "Select a time slot"
          }
        },
        items: slots
      }) }}
    {% else %}
      <p class="govuk-body">No slots found</p>
    {% endif %}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
{% endblock %}
